.App {
  margin: 0;
  padding: 0;
  width: 80vw;
  margin :auto;
  min-height: 79.2vh;
}
.sticky{
  position: static;
  top: 100%;
}

/* ----------------- Icons --------------- */
.heroicons{
  padding: 1rem 0;
  width: 30px;
}
.profile{
  padding:1rem 0;
}